Source: ros-kinetic-agile-grasp
Section: misc
Priority: extra
Maintainer: Andreas ten Pas <atp@ccs.neu.edu>
Build-Depends: debhelper (>= 9.0.0), liblapack-dev, libopencv-dev, libpcl-dev, ros-kinetic-catkin, ros-kinetic-cmake-modules, ros-kinetic-eigen-conversions, ros-kinetic-geometry-msgs, ros-kinetic-message-generation, ros-kinetic-pcl-conversions, ros-kinetic-roscpp, ros-kinetic-sensor-msgs, ros-kinetic-std-msgs, ros-kinetic-tf-conversions, ros-kinetic-visualization-msgs
Homepage: http://wiki.ros.org/agile_grasp
Standards-Version: 3.9.2

Package: ros-kinetic-agile-grasp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, liblapack-dev, libopencv-dev, libpcl1.7, ros-kinetic-cmake-modules, ros-kinetic-eigen-conversions, ros-kinetic-geometry-msgs, ros-kinetic-message-runtime, ros-kinetic-pcl-conversions, ros-kinetic-roscpp, ros-kinetic-sensor-msgs, ros-kinetic-std-msgs, ros-kinetic-tf, ros-kinetic-tf-conversions, ros-kinetic-visualization-msgs
Description: The agile_grasp ROS package.
 AGILE stands for Antipodal Grasp Identification and LEarning. The package finds antipodal grasps in point clouds.
